@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply h-full;
        touch-action: pan-x pan-y;
    }

    @media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
        :root {
            color-scheme: light;
        }
    }

    * {
        @apply m-0 box-border appearance-none p-0 focus:outline-none font-sans;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.6) #ffffff;
    }

    html {
        @apply touch-pan-y text-black bg-white;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply appearance-none;
    }

    input[type='number'] {
        @apply appearance-none;
        appearance: textfield;
        -moz-appearance: textfield;
    }

    img {
        @apply pointer-events-none select-none;
    }

    ::-webkit-scrollbar {
        @apply w-3;
    }

    ::-webkit-scrollbar-track {
        @apply bg-white rounded-full;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-black/60 hover:bg-black/80 transition-colors duration-200;
        border-radius: 100px;
        border: 3px solid white;
        background-clip: padding-box;
    }
}